.cartContainer{
    position: absolute;
    top:100%;
    width: 500px;
    max-width: 90vw;
    right: 0;
    margin-top: 2rem;
    background-color: var(--bg-tertiary);
    padding: clamp(1rem, 5vw, 2rem);
    border-radius: 10px;
    z-index: 100000;
    box-shadow: var(--shadow-lg);
    transition: all 300ms ease-in-out;
}