.heading{
    font-size: 1.3rem;
    color: var(--text-primary);
    text-align: center;
}

.empty{
    text-align: center;
    padding: 1rem;
    color: var(--text-secondary);
}

.loaderContainer{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.loader{
    width: 50px;
    height: 50px;
    border: 3px solid  var(--brand-blue);
    border-top: 0px;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
}
.loading-text{
 font-size: 0.9rem;
 color: var(--text-tertiary);
}

@keyframes spin {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
.fetchError{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-tertiary);
    font-size: 1rem;
}

.productGrid{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}