/* styling for task form */

.addTaskContainer{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--color-surface);
}
.addTaskBtn{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
}

.taskFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: var(--color-surface);
}

.taskFormContainer h2{
    color: var(--color-text);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.taskFormContainer form{
    background-color: var(--color-bg-secondary);
    max-width: 600px;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--shadow-md);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.formGroup label{
    font-size: 1rem;
    color: var(--color-text);
}

.formGroup input, .formGroup textarea, .formGroup select{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--color-border);
}

.formBtn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.formBtn>.submitBtn{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
}
.formBtn>.cancelBtn{
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
}
