.homePageContainer {
    background-color: var(--bg-primary);
}

.heroSection {
    padding: 2rem 0rem 0rem;
}

.searchSection{
    padding-top: 2rem;
}

.filterSection{
    padding-top: 2rem;
}

.productsSection{
    padding-top: 2rem;
}


