.homePageContainer {
    background-color: var(--bg-primary);
}

.heroSection {
    padding: 2rem 0rem 0rem;
}

.productsSection{
    padding-top: 20px;
}
.heading{
    font-size: 1.3rem;
    color: var(--text-primary);
}

.productGrid{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}