*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root{
  /* light mode variables */
  --color-bg: #ffffff;
  --color-bg-secondary: #f5f7fa;
  --color-surface: #ffffff;

  --color-text: #1e1e1e;
  --color-text-muted: #6b6b6b;
  
  --color-primary: #3a7afe;
  --color-primary-light: #e4efff;
  --color-accent: #ffb400;

  --color-border: #e0e0e0;

  --shadow-sm: 0 1px 3px rgba(0,0,0, 0.08);
  --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 8px 20px rgba(0, 0, 0, 0.15);
}

[data-theme="dark"] {
/* variable for dark mode */

  --color-bg: #0e1117;
  --color-bg-secondary: #161b22;
  --color-surface: #1f242d;

  --color-text: #f3f4f6;
  --color-text-muted: #9ba3b4;
  
  --color-primary: #3a7afe;
  --color-primary-light: #e4efff;
  --color-accent: #ffb400;

  --color-border: #2a2f38;

  --shadow-sm: 0 1px 3px rgba(0,0,0, 0.35);
  --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.45);
  --shadow-lg: 0 8px 20px rgba(0, 0, 0, 0.55);
}