/* css module for header */


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto; 
    padding: clamp(1rem, 5vw, 2rem) clamp(0.5rem, 5vw, 1rem);
    background-color: var(--color-bg-secondary);
    transition: all 300ms ease-in-out;
    box-shadow: var(--shadow-md);
}

.headingTitle{
    text-align: center;
}

.headingTitle h1{
    color: var(--color-text);
    font-size: clamp(1.5rem, 2.5vw, 2rem );
}
.headingTitle p{
    font-size: 0.9rem;
    color: var(--color-text-muted);
    font-weight: 500;
}

.themeMode{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--color-text);
}
.toggleTheme{
    width:50px;
    height: 25px;
    background-color: var(--color-border);
    padding: 3px;
    border-radius: 25px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.switchContianer{
    width: 100%;
    height: 100%;
    position: relative;
}
.toggleSwitch{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--color-text-muted);
    border-radius: 50%;
    box-shadow: var(--shadow-sm);
    transition: all 300ms ease-in-out;
}

.slideRight{
    animation: slideRight;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
.slideLeft{
    animation: slideLeft;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards; 
}
@keyframes slideRight {
    from {
    left: 0;
    transform: translateX(0);
  }
    to {
    left: 100%; 
    transform: translateX(-100%);
  }
}

@keyframes slideLeft {
    from {
    right: 0;
    transform: translateX(0);
  }
    to {
    right: 100%; 
    transform: translateX(100%);
  }
}


