.itemContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
}

.itemImage{
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0.3rem;
    
}
.image{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.itemAndQuantity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.itemName{
    color: var(--text-primary);
    font-size: 0.8rem;
    font-weight: bold;
}

.quantityContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-secondary);
    font-size: 0.8rem;
}

.increaseBtn, .decreaseBtn{
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.itemPrice{
    color: var(--text-tertiary);
    text-align: left;
    font-size: 0.8rem;
}

.itemTotal{
    color: var(--text-primary);
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
}