.paymentContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heading{
    font-size: 1rem;
    color: var(--text-primary);
}

.methods{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.method{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-tertiary);
}

.cardForm{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
}

.formGroup{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.formGroup>input{
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    outline: none;
    font-size: 1rem;
    width: 100%;
}
.formGroup>input:focus{
    border: 1px solid var(--brand-blue-dark);
}
.formGroup>label{
    font-size: 0.9rem;
    color: var(--text-primary);
}
.code{
    display: flex;
    gap: 1rem;
}
