.checkoutPageContainer{
    background-color: var(--bg-primary);
    padding-top: 4rem;
}

.checkoutContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
    gap: 1rem;
    justify-content:center;
    align-items: flex-start;
    padding-bottom: 4rem;
}