.footerContainer {
    /*position: fixed;
    bottom: 0;
    right: 0;
    left: 0;*/
    display: flex;
    padding: clamp(1rem, 4vw, 2rem);
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: var(--bg-secondary);
}

.footerText {
    color: var(--text-primary);
    font-size: 1rem;
    text-align: center;
}
