.searchContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.searchBox{
    width: 600px;
    min-width: 300px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid var(--border-color);
    outline: none;
    background-color: var(--bg-tertiary);
    font-size: 1rem;
    box-shadow: var(--shadow-md);
    color: var(--text-primary);
}

.searchBox::placeholder{
    opacity: 0.5;
}