.formContainer{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: clamp(1rem, 5vw, 2rem);
    padding-top:0;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

input[type=text], input[type=password]{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: var(--text-primary);
}
.label{
    color: var(--text-primary);
    opacity: 0.5;
    position:absolute;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    font-size: 0.9rem;
    top: 1.5rem;
    left: 3rem;
}

input:focus ~ .label,
input:not(:focus):valid ~ .label{
    position: absolute;
    top: 0.2rem;
    left: 3rem;
    font-size: 0.7rem;
}
.icon{
    width: 24px;
    height: 24px;
    filter: invert(50%) sepia(9%) saturate(897%) hue-rotate(176deg)
        brightness(97%) contrast(88%);
}

.formGroup{
    position: relative;
    display:flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: var(--bg-tertiary);
}


.submitBtn{
    cursor: pointer;
    color: whitesmoke;
    border: none;
    outline: none;
    padding:1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem ;
    background-color: var(--brand-blue);
}
