.undoBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    border: none;
    outline: none;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 100%;
    box-shadow: var(--shadow-lg);
    cursor: pointer;
    position:fixed;
    bottom:10px;
    right: 10px;
    z-index: 1000;
}

.undoBtn img{
    width: 20px;
    object-fit: contain;
}

.disabled{
    cursor: not-allowed;
}


