.fav-movie{
    display: flex;
    padding: 0.5rem 1rem;
    background-color: color-mix(in srgb, var(--secondary-blue) 50%, transparent);
    border-radius: 25px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms ease-in-out;
}
.fav-movie:hover{
    transform: translateY(-3px);
}
.fav-movie p{
    font-size: 1rem;
    color: var(--text-dark);
    font-weight: 500;
}
.fav-movie img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}