:root {
    --primary-yellow:rgba(244, 159, 14);
    --secondary-blue:rgba(37, 99, 235);
    --tertiary-red:rgba(238, 75, 75);
    --text-dark: #333;
    --text-medium: #555;
    --text-light: #666;
    --bg-white: #fff;
    --bg-black: #1B1212	;
}

.movies-explorer-card{
    max-width: 1000px;
    margin: 150px auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0, 0.3);
    padding: 2rem;
    position: relative;
}
.card-header h1{
    font-size: 1.5rem;
}
.card-header p{
    font-size: 1rem;
    color: var(--text-medium);
    font-weight: 500;
}




.light-bg{
    background-color: var(--bg-white);
}
.dark-bg{
    background-color: var(--bg-black);
}