.cartStatusContainer{
    display: flex;
    position: relative;
    width: fit-content
}

.cartStatusContainer img{
    width: 32px;
}

.cartStatusContainer p{
    position: absolute;
    padding: 0.1rem 0.2rem;
    top:0;
    right: -1rem;
    background-color: var(--brand-yellow-dark);
    border-radius: 50%;
}